<div class="background">
  <div class="phone-container p-3 profile-content" style="margin: auto;">
    <h1 class="text-center">Your Profile</h1>
    <div class="text-center">
      <% if current_user.pictures.empty? %>
            <%= image_tag "http://autozentrum-west.at/wp-content/uploads/2015/10/avatar-placeholder-300x300.png", style: "width: 80px; border-radius: 50%; text-align: center" %>
        <% else %>
            <%= image_tag current_user.pictures[0].url, style: "width: 80px; border-radius: 50%; text-align: center"%>
       <% end %>
    </div>
    <%= simple_form_for current_user, url: update_user_path do |f| %>
      <h4 class="text-center">Personal Info:</h4>
      <%= f.input :name %>
      <%= f.input :bio, as: :text %>
      <%= f.input :age, collection: 18..100 %>
      <%= f.input :preferred_match_type, collection: [ "Friends", "Date", "Just go with the Flow"] %>
      <%= f.input :gender, collection: [ "Male", "Female", "Other"] %>
      <h4 class="text-center">Filters:</h4>
      <%= f.input :preferred_gender, collection: [ "Male", "Female", "I don't care"] %>
  </div>
  <%= f.submit "Update Profile", class: "btn-full-screen" %>
  <% end %>
</div>


