<%= render 'shared/navbar' %>
<div class="page_background"></div>
<br>
<br>
<br>
<br>
<div style="position: relative; z-index: 2; width: 700px; margin: 20px auto; margin-bottom: 40px;">
  <h1 style="color: rgb(60,60,60);">Your Projects</h1>
  <% @events.each do |event| %>
    <%= link_to event_path(event.token), class: "index-list-event" do %>
      <div class="card-product my-3">
        <%= cl_image_tag event.background_image, class: "back" %>
        <%= cl_image_tag event.logo, class: "logo_list" %>
        <div class="card-product-infos">
          <h2><%= event.name %></h2>
          <p class="my-2">From <strong><%= event.start_date.strftime('%d %B %Y') %></strong> to <strong><%= event.end_date.strftime('%d %B %Y') %></strong></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
