<div class="container my-3">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-6">
      <h1 class="ml-5">Customize for your event</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-6 card m-3 p-3" style="border: none; box-shadow: 0 0 8px rgba(0,0,0,.1);">
      <%= simple_form_for(@project) do |f| %>
      <div class="form-group mt-3">
        <%= f.label :event_name %>
        <%= f.text_field :name, class: 'form-control', id: "new_name", placeholder: "Event" %>
      </div>

      <div class="row mb-4">
        <div class="col">
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>
        <div class="col">
          <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>
      </div>

      <div class="form-group row">
        <label for="primary_color" class="col-3 col-form-label">Background</label>
        <div class="col-3">
          <%= f.input :primary_color, as: :color, class: "form-control", label: false %>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="secondary_color" class="col-3 col-form-label">Buttons</label>
        <div class="col-3">
          <%= f.input :secondary_color, as: :color, class: "form-control", label: false %>
        </div>
      </div>

      <div class="form-group mb-3">
        <%= f.input :logo %>
        <%= f.input :logo_cache, as: :hidden %>
      </div>

      <div class="form-group mb-3">
        <%= f.input :background_image %>
        <%= f.input :background_image_cache, as: :hidden %>
      </div>

      <div class="form-group">
        <%= f.label :welcome_message %>
        <%= f.text_area :welcome_message, class: 'form-control' %>
      </div>

      <%= f.submit "Create app", class: "btn-square mt-2" %>
    <% end %>
  </div>

  <div class="col-1"></div>

  <div class="col-3">
    <h2 class="mt-2 mb-0 ml-1">Custom design</h2>
    <div class="phone-frame" style="
      height: 500px;
      width: 250px;
      position: relative;
      top: 50px;
      border-top: 15px solid black;
      border-bottom: 10px solid black;
      border-left: 4px solid black;
      border-right: 4px solid black;
      border-radius: 30px;
      box-shadow: 0 0 8px rgba(0,0,0,.1);
    ">
      <div class="iphone_layout" style="
        position: absolute;
        top: -10px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        height: 30px;
        width: 110px;
        border-radius: 10px;
        background-color: black;
      "></div>
      <div class="nav_show show_primary" style="
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 40px;
        background-color: #333333;
      "></div>
      <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="nav_avatar_show" style="
        position: absolute;
        top: 4.5px;
        left: 20px;
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
      "></img>
      <div class="chat_show" style="
        position: absolute;
        top: 6px;
        right: 22px;
      ">
        <i class="fas fa-comments show_secondary_text" style="
        font-size: 25px;
        color: #F0037E;
        "></i>
      </div>
      <div class="logo_show" style="
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 26px;
        padding: 4px 2px;
        width: 59px;
        border-radius: 20px;
        border: 2px dotted black;
        text-align: center;
        font-size: 14px;
        font-weight: bolder;
      ">LOGO
      </div>
      <div class="background_show show_primary" style="
        position: absolute;
        top: 0;
        z-index: -5;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        background-color: #333333;
      "></div>
      <div class="lighter_background_show" style="
        position: absolute;
        top: 0;
        z-index: -4;
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 10px;
        opacity: .2;
      "></div>

      <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="avatar" style="
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 230px;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      ">
      <div class="card_show" style="
        position: absolute;
        z-index: -1;
        top: 90px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 300px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(0,0,0,.1);
      "></div>
      <div class="username_show" style="
        position: absolute;
        z-index: -1;
        top: 328px;
        left: 34px;
        font-size: 18px;
        font-weight: bolder;
      ">Mara</div>
      <div class="age_show" style="
        position: absolute;
        z-index: -1;
        top: 328px;
        left: 180px;
        font-size: 18px;
        font-weight: bolder;
      ">21</div>
      <div class="username_show" style="
        position: absolute;
        z-index: -1;
        top: 360px;
        left: 34px;
        font-size: 13px;
      ">Live & Laugh</div>
      <div class="bnt_love_show" style="
        position: absolute;
        z-index: -1;
        top: 410px;
        left: 30px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: white;
      "><i class="fas fa-times show_secondary_text" style="
        font-size: 35px;
        position: absolute;
        left: 10.5px;
        top: 5px;
        color: #F0037E;
      "></i></div>
      <div class="bnt_love_show" style="
        position: absolute;
        z-index: -1;
        top: 410px;
        right: 30px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: white;
      "><i class="fas fa-heart show_secondary_text" style="
        font-size: 30px;
        position: absolute;
        left: 7.5px;
        top: 9px;
        color: #F0037E;
      "></i></div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'event_new_form' %>

