<h1>Create to connect people at your event!</h1>

<div class="col-6 card ml-3 p-3">
  <%= simple_form_for(@project) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="row mb-4">
      <div class="col">
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      </div>
      <div class="col">
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      </div>
    </div>

    <div class="form-group row">
    <label for="primary_color" class="col-3 col-form-label">Primary color</label>
    <div class="col-3">
      <input class="form-control" type="color" value="#bfbfbf" id="primary_color">
    </div>
    </div>

    <div class="form-group row">
    <label for="secondary_color" class="col-3 col-form-label">Secondary color</label>
    <div class="col-3">
      <input class="form-control" type="color" value="#202020" id="secondary_color">
    </div>
    </div>

    <%= f.submit "Create app", class: "btn-square mt-2" %>
  <% end %>
</div>
