<div class="container">
<h1>Create to connect people at your event!</h1>
<div class="row">
  <div class="col-6 card m-3 p-3">
  <%= simple_form_for(@project) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', id: "new_name", placeholder: "Event" %>
    </div>

    <div class="row mb-4">
      <div class="col">
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      </div>
      <div class="col">
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      </div>
    </div>

    <div class="form-group row">
    <label for="primary_color" class="col-3 col-form-label">Primary color</label>
    <div class="col-3">
      <input class="form-control" type="color" value="#bfbfbf" id="primary_color">
    </div>
    </div>

    <div class="form-group row mb-3">
    <label for="secondary_color" class="col-3 col-form-label">Secondary color</label>
    <div class="col-3">
      <input class="form-control" type="color" value="#202020" id="secondary_color">
    </div>
    </div>

    <div class="form-group">
      <%= f.input :logo %>
      <%= f.input :logo_cache, as: :hidden %>
    </div>

    <div class="form-group mb-3">
      <%= f.input :background_image %>
      <%= f.input :background_image_cache, as: :hidden %>
    </div>

    <div class="form-group">
      <%= f.label :welcome_message %>
      <%= f.text_area :welcome_message, class: 'form-control' %>
    </div>

    <%= f.submit "Create app", class: "btn-square mt-2" %>
  <% end %>
  </div>

  <div class="col-5">
    <h1>Test:</h1>
    <div class="show_primary" style="height: 10px; width: 100%; background-color: #bfbfbf;"></div>
    <p id="show_name">Event</p>
    <div class="show_secondary" style="height: 10px; width: 100%; background-color: #202020;"></div>
    <img id="show_logo" src=""></img>
  </div>
</div>
</div>



<script>
  const newName = document.querySelector("#new_name");
  const nameShow = document.querySelector("#show_name");

  newName.addEventListener("keyup", (event) => {
    let name = document.querySelector("#new_name").value;
    nameShow.innerText = name
  });

  const newPrimary = document.querySelector("#primary_color");
  const primaryShow = document.querySelector(".show_primary");

  newPrimary.addEventListener("change", (event) => {
    let primary = document.querySelector("#primary_color").value;
    primaryShow.style.backgroundColor = primary;
  });

  const newSecondary = document.querySelector("#secondary_color");
  const secondaryShow = document.querySelector(".show_secondary");

  newSecondary.addEventListener("change", (event) => {
    let secondary = document.querySelector("#secondary_color").value;
    secondaryShow.style.backgroundColor = secondary;
  });

  const newLogo = document.querySelector("#event_logo");
  const logoShow = document.querySelector("#show_logo");

  function createObjectURL(object) {
    return (window.URL) ? window.URL.createObjectURL(object) : window.webkitURL.createObjectURL(object);
  }

  function revokeObjectURL(url) {
    return (window.URL) ? window.URL.revokeObjectURL(url) : window.webkitURL.revokeObjectURL(url);
  }

  function myUploadOnChangeFunction() {
    if(this.files.length) {
        for(var i in this.files) {
            var src = createObjectURL(this.files[i]);
            var image = new Image();
            image.src = src;
            logo.innerText = image
            // Do whatever you want with your image, it's just like any other image
            // but it displays directly from the user machine, not the server!
        }
    }
  }

  newLogo.addEventListener("blur", (event) => {
    const source = createObjectURL(newLogo);
    logoShow.src = source;
  });
</script>
