<div class="background">
  <!-- inline styling, we pass the event to all the pages necessary. then we inject the styling in each piece necessary.  -->
  <div class="swiper-card" style="color:<%= @swipe.event.primary_color %>;" >
    <%= cl_image_tag(@swipe.participant_2.user.pictures.first.url, class: "swiper-image") %>
    <div class="swiper-info row justify-content-between p-3">
      <div class="description col-11 px-0">
        <b><%= @swipe.participant_2.user.name %></b>
        <p style="margin-bottom: 0"><%= @swipe.participant_2.user.bio %></p>
      </div>
      <b><%= @swipe.participant_2.user.age %></b>
    </div>
  </div>
  <div class="btns-box">
    <%= link_to reject_path(@swipe.id) do %>
      <div class="bnt_love_show" style="
        position: relative;
        bottom: 16px;
        z-index: 10;
        left: 30px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: white;
      "><i class="fas fa-times show_secondary_text" style="
        font-size: 35px;
        position: relative;
        left: 10.5px;
        top: 5px;
        color: #F0037E;
      "></i></div>
    <% end %>
    <%= link_to accept_path(@swipe.id) do %>
      <div class="bnt_love_show" style="
        position: relative;
        bottom: 16px;
        z-index: 10;
        right: 30px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: white;
      "><i class="fas fa-heart show_secondary_text" style="
        font-size: 30px;
        position: absolute;
        left: 7.5px;
        top: 9px;
        color: #F0037E;
      "></i></div>
    <% end %>
  </div>
</div>


