
<nav class="navbar navbar-expand-lg navbar-lewagon" style="position: relative; z-index: 2; background-color:<%=@event.primary_color%>">
  <div class="nav-item dropdown">
        <% if current_user.pictures.empty? %>
          <%= cl_image_tag "http://autozentrum-west.at/wp-content/uploads/2015/10/avatar-placeholder-300x300.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style: "width: 40px; height: 40px; object-fit: cover;" %>
        <% else %>
          <%= cl_image_tag current_user.pictures[0].url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style: "width: 40px; height: 40px; object-fit: cover;" %>
        <% end %>
          <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", "profile", class: "dropdown-item" %>
            <%= link_to "My Events", "projects_path", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
   </div>
   <%= link_to swipes_path, class: "navbar-brand" do %>
   <div class="chat_show" style="
        position: absolute;
        top: 10px;
        right: 22px;
      ">
        <i class="fas fa-undo-alt" style="
        font-size: 30px;
        color:<%=@event.secondary_color%>;
        "></i>
      </div>
   <% end %>
</nav>

<!-- TODO Later: Change the path of the icon-->
<!-- try with seeds -->
<!-- message notification (numbers show in the badge-->
<%= cl_image_tag(@event.logo, style: "
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    padding: 4px 2px;
    height: 60px;
    width: 60px;
    object-fit: fill;
  " )%>

<div class="container pb-3" style="height: 100vh;background-color:<%=@event.primary_color%>;padding-top: 4rem;filter: brightness(115%);">
  <% if @matches.first.nil? %>
   <p> Keep Swiping!!! What are u waiting for?;)</p>
  <% else %>
 <div class="uk-card uk-card-default uk-width-1-2@m">
  <% @matches.each do |match| %>
    <% if match.swipe.participant_2.user_id == current_user.id %>
      <% user_show = match.swipe.participant_1.user %>
    <% elsif match.swipe.participant_1.user_id == current_user.id %>
      <% user_show = match.swipe.participant_2.user %>
    <% end %>
    <div class="uk-card-header"style="border-bottom: 1px solid gray">
        <div class="uk-grid-small uk-flex-middle" uk-grid>

          <div class="uk-width-auto">
            <% if user_show.pictures.empty? %>
              <img src="http://autozentrum-west.at/wp-content/uploads/2015/10/avatar-placeholder-300x300.png" class="uk-border-circle" style="width: 40px; height: 40px; object-fit: cover;">
            <% else %>
              <img class="uk-border-circle" style="width: 40px; height: 40px; object-fit: cover;" src="<%= user_show.pictures[0].url %>">
            <% end %>
          </div>

          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom"><%=user_show.name%></h3>
            <p class="uk-text-meta uk-margin-remove-top">Matched <%=match.created_at.strftime("%d of %B, %Y")%>
            <%= match.created_at.strftime("%I:%M %p")
            %></p>
          </div>

          <%= link_to chat_path(params[:id], match.id) do %>
            <i class="fas fa-comments" style = "color:<%=@event.secondary_color%>;font-size: xx-large;"></i>
          <% end %>
        </div>
    </div>
  <% end %>
  <% end %>
 </div>
