 <%= render 'shared/navbar_mobile' %>
<!-- TODO Later: Change the path of the icon-->
<!-- try with seeds -->
<!-- message notification (numbers show in the badge-->
<div class="container pb-3" style="height: 100vh;background-color: #333;padding-top: 6rem;">
 <div class="uk-card uk-card-default uk-width-1-2@m">
  <% @matches.each do |match| %>
   <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>

            <div class="uk-width-auto uk-border-circle" width="40" height="40" >
                <%= match.photo%>
            </div>

            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom"><%=match.name%></h3>
                <p class="uk-text-meta uk-margin-remove-top">Matched on <time><%=match.create_at%></time></p>
            </div>
            <%= link_to matches_path do %>
              <i class="fas fa-comments" style = "color:#F0037E;font-size: xx-large;"></i>
            <% end %>
        </div>
    </div>
  <% end %>

    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>

            <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40" src="https://avatars0.githubusercontent.com/u/50922534?v=4">
            </div>

            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Name</h3>
                <p class="uk-text-meta uk-margin-remove-top">Matched on <time>.......</time></p>
            </div>
            <%= link_to  matches_path do %>
              <i class="fas fa-comments" style = "color:#F0037E;font-size: xx-large;"></i>
            <% end %>
        </div>
    </div>

    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>

            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="https://avatars0.githubusercontent.com/u/50922534?v=4">
            </div>

            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Name</h3>
                <p class="uk-text-meta uk-margin-remove-top">Matched on <time>.......</time></p>
            </div>
            <%= link_to  matches_path do %>
              <i class="fas fa-comments" style = "color:#F0037E;font-size: xx-large;"></i>
            <% end %>
        </div>
    </div>


</div>
</div>
